mixin skills()
  each skill in skills
    .container.skills-container
      .title 
        h3 #{skill.name}
        .keyline
      ul.two-column 
        each keyword in skill.keywords
          li.h6= keyword
    
