extends layout.pug

block body-content
  main#resume.page
    +resume-header
    .resume-content 
      aside.left-column
        +about
        +education
        +skills
        +interests
      .right-column 
        +summary
        +transferableSkills
        +work
