include _resume-header
include _about
include _skills
include _languages
include _interests
include _summary
include _work
include _education


doctype html
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimal-ui')
    title Resume - Jim Peters
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='/static/scss/main.css', rel='stylesheet')
  body
    block body-content
