.container {
  padding-top: spacing(2.5);
}

.keyline {
  width: spacing(9);
  margin: 8px 0 10px;
  border-top: 1px solid $primary-color;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  @include clearfix();
}

.profile-pic {
  margin-top: -25px;
  margin-right: 18px;

  img {
    height: $profile-pic-size;
    border: 2px solid $primary-color;
    border-radius: 60%;
  }
}

.summary {
  margin: spacing(1) 0 spacing(1);
}
