@media print {
  // body {
  //   margin: 0;
  // }

  .body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 36px 0 0px;
    size: letter;
    // .resume-header,
    // .resume-content {
    //   padding: 0;
    // }
  }

  .page {
    box-shadow: none;
    padding: 36px 0 0px;
    margin: 0;
  }

  .skills-container {
    page-break-inside: avoid;
  }

  .work-container {
    .item {
      page-break-inside: avoid;
    }
  }

  .fa-external-link {
    display: none;
  }
}

@page :first {
  margin-top: 0;
}

@page {
  margin-left: .846cm;
  margin-right: .846cm;
  margin-bottom: .846cm;
}

